#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.desafio {
  margin: 5vh 0 0;
  border-radius: 20px;
  background-color: #181818;
  padding: 20px 0 35px;
}

h2 {
  font-size: 2.5em;
  margin: 15px 0px;
  color: #0BD6F3;
}

ol {
  font-size: 1.2em;
  margin: auto;
  padding: 0 5vw;
  width: 41vw;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  text-align: left;
}

li{
  list-style-position: inside;
}