* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:root {
  --main: #2571e4;
}

html, body {
  min-height: 100svh;
}

body {
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.afastaNav {padding-top: 70px;}

@media  screen and (max-width: 768px) {
  .afastaNav {padding-top: 0;}
}

